/* for the navigation bar */

.navbar,
.navbar .dropdown-menu {
  padding: 0px;
    
  font-family: lemon_milklight_italic;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(225, 203, 193);
  border-bottom:rgb(0, 0, 0) 3px solid;
  opacity: 0.8;
}
.navbar-nav .nav-link
{
  color: rgb(0, 0, 0);
}

/*.navbar-brand {
  font-family: Bradley Hand ITC Std;
  color: rgb(183, 30, 66);
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.navbar span {
  font-size: 25px;
}*/

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(11, 117, 99)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: rgb(225, 203, 193);
}

a:hover:not(.active) {
  
  color:rgb(242, 149, 108);
  background-color: rgb(238, 202, 186);
}

.active {
  background-color: rgb(238, 202, 186);
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  .navbar .dropdown-menu {
    padding: 0px;
    background-color: rgb(0, 0, 0);
    font-family: lemon_milklight_italic;
    font-size: 12px;
    border-bottom: 0px;
    opacity: 0.8;
  }
}

/* for the navigation bar */
