/*@media (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 192dpi) {
  /* STYLES GO HERE FOR GALAXYS5 
  #home_section,
  #transform_section,
  #corp_yoga_section,
  #teach_section,
  #classes_section,
  #testimonials_section,
  #contact_section {
    border: 1px solid red !important;
  }
}*/

/*@media only screen and (min-width: 732px) and (orientation: landscape) {
   /* STYLES GO HERE FOR GALAXYS5 
  .home_inner {
    border: 1px solid red !important;
  }
}*/

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  /* ----------- Galaxy A7 landscape----------- */
  #home_section,
  #transform_section,
  #corp_yoga_section,
  #teach_section,
  #classes_section,
  #testimonials_section,
  #contact_section {
    height: 100%;
    background-color: rgb(209, 243, 240);
    width: 100%;
    border: 1px solid red !important;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  /* ----------- iPhone 6+, 7+ and 8+ landscape----------- */
  #home_section,
  #transform_section,
  #corp_yoga_section,
  #teach_section,
  #classes_section,
  #testimonials_section,
  #contact_section {
    border: 1px solid red;
  }
}
/*@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {*/
@media (max-width: 991px) {
  #home_section {
    height: 100%;
    background-color: rgb(209, 243, 240);
    width: 100%;
    border: 1px solid red !important;
  }
}
